*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 100%;
}
body {
  background-color: white;
  color: #000;
  font-size: 0.875rem;
}
a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.down {
  color: black  ;
  font-size: 12px ;
  font-weight: lighter;
  text-align: center;
  padding: 5px;
  
  
}
h1{
  color: white;
  text-align: left;
  font-size: 55px;
  margin-top: 175px;
  position: absolute;left: 100px;
  line-height: 80px;
  padding: 60px;
  letter-spacing: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main{
  width: 100%;
  height: 100vh;
  background-image: url(../img/mainvisual_laptop.png);
  position: relative;
  background-size: cover;
  background-color: white;
}

#main h2 a{
  letter-spacing: 5px;
  margin-left: 60px;
  color: whitesmoke;
  line-height: 60px;
  text-decoration: none;
}

#main .contact {
  background-color: white;
  color: black;
  height: 10px;
  text-align: center;
  line-height: 30px;

}

nav {
  width: 100%;
  height: 80px;
 line-height: 75px;
}

nav ul {
  float: right;
  margin-bottom: 100px;
   }


nav ul li{
  list-style-type: none;
  display: inline-block;
  font-weight: bolder;
 
}

nav ul li a {
text-decoration: none;
color: black;
font-size: 19px;
padding: 36px;  
align-content: center;
}

.banner-text {
  position: absolute;
  top: 0;
  padding: 30px;
  margin-left: 40px;
  }
.banner-text h2{
 font-size:  26px;
 font-weight: lighter;
 font-weight: bold;
 margin-bottom: 10px;
 letter-spacing: 5px;
 color: #f0f0f0;
}
.parttwo {
  background-color: white;
  padding: 90px 0;
}
.parttwo .sec-title {
  margin-bottom: 40px;
}


.parttwo .flexitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parttwo .newitem {
  width: 48%;
  text-align: center;
}
.parttwo .newitem img {
  width: 100%;
}
.parttwo .newitem p {
  margin-bottom: 30px;
  margin-right: 50px;
  text-align: left;
  line-height: 40px;
  font-size: 20px;
  

}
.parttwo .newitem p:last-child {
  margin-bottom: 0;
}

.newtitle {
  color: black;
  font-size: 50px;
  text-decoration: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
  margin-left: 90px;
}

.catalog-antique {
  background-color: white;
  padding: 60px 0;
}
.catalog-antique .sec-title {
  margin-bottom: 40px;
}
.catalog-antique .flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-antique .item {
  width: 48%;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  line-height: 40px;
  
}
.catalog-antique .item img {
  width: 100%
  
  
}
.catalog-antique .item p {
  margin-bottom: 30px;
  text-align: left;
}
.catalog-antique .item p:last-child {
  margin-bottom: 0;
}

.sec-title {
  color: black;
  font-size: 25px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
  margin-right: 30px;
  text-align: left;
}

.my-button{
  width: 250px; 
  height: 80px;
 margin-bottom: 140px;
  border: 4px solid;
  margin-top: 50px;
  margin-left: 600px;
  background-color: white;
  box-shadow: white;
}

.my-button a{
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.workhead {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding: 40px;
  }

.under {
  color: red;
}


.spanner {
  color: black;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 5px;
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;

}



.list li {
  width: 49%;
  margin-bottom: 65px;
}

.list li h5{
  padding: 20px;
  font-size: 20px;
  text-align: center;
   margin-right: 320px;
 }

.list li p{
  font-size: 18px;
  padding: 10px;
  font-weight: lighter;
  margin-right: 50px;
  }

.list li img {
  vertical-align: bottom;
  margin-left: 70px;
  }

.view {
  color: black;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  float: right;
  border-bottom: 3px solid black;
  margin-top: 40px;
 
  }

.space {
  color: black;
  margin-left: 80px;
  }

  .topic{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 40px;
    margin-top: 40px;
    }

.topics-title {
      font-size: 10px;
      margin: 10px 0;
      font-weight: lighter;
      
    }

   
#topics ul {
      display: flex;
      justify-content: space-between;
      margin-left: 70px;
    }

#topics li {
      width: 32%;
    }

.bolder {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

#botimage {
  margin-bottom: 80px;
}
#botimage img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  margin-top: 150px;
}

h1{
  color: white;
  text-align: left;
  font-size: 55px;
  margin-top: 175px;
  position: absolute;left: 100px;
  line-height: 80px;
  padding: 60px;
  letter-spacing: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#botime {
  width: 100%;
  height: 600px;
  background-image: url(../img/img_overlay_laptop.png);
  position: relative;
  background-size: cover;
  background-color: white;
  margin-top: 160px;
  object-fit: cover;
  margin-bottom: 60px;
}

.bott {
  text-align: center;
  margin-left: 60px;
  line-height: 260px;
  color: white;
  letter-spacing: 8px;
  font-weight: lighter;
  font-size: 40px;
}

.onetext {
  color: white;
  text-align: center;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 30px;
  line-height: 45px;
  }

  .twotext {
    color: white;
    text-align: center;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    line-height: 45px;
    margin-top: 30px;
    }

    #shop iframe {
      width: 35%;
      height: 55vh;
      margin-top: 70px;
      margin-left: 100px;
      vertical-align: bottom;
    }
  
    .texty{
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      padding: 40px;
      margin-top: 40px;
      float: right;
      margin-right: 580px;
      line-height: 250px;
      }

.spantext {
  color: black;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 7px;
  text-decoration: none;
  
}

